/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('./assets/fonts/inter-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/inter-v12-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./assets/fonts/inter-v12-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/inter-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-800 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('./assets/fonts/inter-v12-latin-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/inter-v12-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    line-height: 1.15;
    font-family: 'Inter';
    color: black;
    letter-spacing: 2px;
}
 .wrapper {
    max-width: 100%;
    margin: 25px 50px;
    
 }

/* Header start*/

 .header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F8B195;
    border: 3px solid #000000;
    border-radius: 14px;
     }

     .header-avatar {
    
     }

     .header-name {
        grid-column: span 2;
     }

     .header-status {

     }

 
 .header-avatar-pic {
    display: block;
    border: 3px solid #000000;
    max-width: 100%;
    height: auto;
    border-radius: 14px;
 }

/* Header end*/

/*Main start*/

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
}

.main-about-conteiner {
    grid-row: span 5;
    background-color: #F67280;
    border: 3px solid #000000;
    border-radius: 14px;
}

.main-projects {
    background-color: #9B59B6;
    border: 3px solid #000000;
    border-radius: 14px;
}


.main-example {
    background-color: #E67E22;
    border: 3px solid #000000;
    border-radius: 14px;
}

.main-courses {
    background-color: #16A085;
    border: 3px solid #000000;
    border-radius: 14px;
}   

.main-education {
    background-color: #7F8C8D;
    border: 3px solid #000000;
    border-radius: 14px;
}

.main-language {
    background-color: #E74C3C;
    border: 3px solid #000000;
    border-radius: 14px;
}





/*Main end*/

/*Footer start*/

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: #2C3E50;
    border: 3px solid #000000;
    border-radius: 14px;

}

/*Footer end*/

